<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo left" style="margin-left: 45px;">CJZR</a>
        <a href="#" data-target="sidenav1" class="sidenav-trigger right" style="margin-right: 45px;"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 45px;">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="sidenav1">
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>